<li class="g_tem">
  <a class="grid" href="#">
    <div class="photo"><img src="./images/v4/g1.png" alt=""></div>
    <div class="cell">
      <h4 class="title db">机动车车辆保险</h4>
      <p class="disc db">快速报价，车险种类全面提供，享太
        平车险快、易、省服务。</p>
      <div class="grid cell--top">
        <div class="price than">650</div>
        <div class="ido cell tr">
          <span class="iconfont icon-shoucang"></span>
            <span class="iconfont icon-fenxiang"></span>
        </div>
      </div>
    </div>
  </a>
</li>