<div class="nav_bottom pf">
  <ul class="grid cell--middle">
    <li class="cell active"><a href="index.html"><span class="iconfont icon-shouye-"></span><em>首页</em></a></li>
    <li class="cell"><a href="categries.html"><span class="iconfont icon-shipin-"></span><em>课程</em></a></li>
    <li class="cell"><a href="find.html"><span class="iconfont icon-faxian-"></span><em>发现</em></a></li>
    <li class="cell"><a><span class="iconfont icon-gouwu-"></span><em>商城</em></a></li>
    <li class="cell"><a><span class="iconfont icon-wode-"></span><em>我的</em></a></li>
  </ul>
</div>