<style>
   .swiper-container {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}
    .loading{
      width: 100%;
      height: 100%;
      position: fixed;
      background: #000;
      z-index: 999;
    }
</style>
<div class="swiper-container">
  <li class="swiper-wrapper">
    <!-- <div class="swiper-slide">Slide 1</div> -->
  </li>
</div>

<script src="./static/swiper/js/swiper.min.js"></script>
<script>
  $(function(){
    var sw = window.screen.width;
  var swiper = new Swiper('.swiper-container', {
    speed: 100,
    observer:true,
    observeParents:true
  });

  $('.imgbox').on('click', 'li', function(){
    var $this = $(this);
    var wrapper = $('.swiper-wrapper');
    var index = $this.index();
    var list = $this.parent().find('li').clone();
    list.removeAttr('style');
    wrapper.html(list.addClass('swiper-slide'));
    swiper.slideTo(index);
    swiper.update();
    wrapper.parent().show();
  });

  $('.swiper-container').on('click', '.swiper-slide', function(){
      $(this).parents('.swiper-container').hide();
  });
  })
</script>