<footer class="footer">
	<nav>
		<ul class="footer-nav">
			<li><a href="/">首页</a></li>
			<li><a href="/cooperate.html">寻求合作</a></li>
			<li><a href="/join.html">加入我们</a></li>
			<li><a href="/about.html">关于我们</a></li>
		</ul>
	</nav>
	<div class="divice">
		<label>移动平台</label>
		<span ><img src="assets/img/iphone.png"></span>
		<span ><img src="assets/img/android.png"></span>
	</div>
	<div class="qr"><img src="assets/img/qr.png"><span>关注小鹿初学</span></div>
	<p class="copyright">© 2016 <a href="http://xiaoluchuxue.com">小鹿初学</a> 粤ICP备14076064号-6</p>
</footer>
<script type="text/javascript" src="assets/js/app.min.js"></script>
</body>
</html>