<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>小鹿初学官网</title>
    <link rel="icon" href="/favicon.ico"  type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE-edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" name="viewport">
    <!-- 是否启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-capable" content="yes"  >
    <meta name="apple-mobile-web-app-status-bar-style" content="black" >
    <!-- 添加到主屏后的标题（iOS 6 新增） -->
    <meta name="apple-mobile-web-app-title" content="小鹿">
    <!-- 忽略页面中的数字识别为电话，忽略email识别 -->
    <meta name="format-detection" content="telephone=no, email=no" >
    <!-- 启用360浏览器的极速模式(webkit) -->
    <meta name="renderer" content="webkit">
    <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
    <meta name="HandheldFriendly" content="true">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="assets/css/app.min.css">
</head>
<body>
<div class="header grid">
  <div class="logo"><img src="assets/img/logo.png"/></div>
  <nav class=" cell">
    <ul class="header-nav">
      <li class="active" id="index"><a href="./index.html">首页</a></li>
      <li id="cooperate"><a href="./cooperate.html">寻求合作</a></li>
      <li id="join"><a href="./join.html">加入我们</a></li>
      <li id="about"><a href="./about.html">关于我们</a></li>
    </ul>
  </nav>
</div>