.ov{
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.hasNav{
  padding-bottom: px2rem(180px) !important;
}
.photo{
  width: px2rem(100px);
  height: px2rem(100px);
  display: block;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  &.vip::after{
    content: '';
    width: px2rem(34px);
    height: px2rem(34px);
    background: url(../images/vip.png) 50% 50% no-repeat;
    background-size: 80%;
    display: block;
    position: absolute;
    margin: px2rem(-30px) 0 0 px2rem(90px);
  }
}