.consult{
  header{
    background: #FF342E;
    padding: px2rem(40px) 0;
    .photo{
      width: px2rem(140px);
      height: px2rem(140px);
      display: block;
      margin: auto;
    }
    p{
      text-align: center;
      font-size: px2rem(36px);
      padding: px2rem(4px) 0;
      color: #fff;
    }
  }
}