.info{
  .header{
    @extend .pr;
    padding: 0 px2rem(60px) px2rem(86px);
    .title{
      font-size: px2rem(44px);
      letter-spacing: px2rem(2px);
      font-weight: normal;
      padding: px2rem(30px) 0;
    }
    img{
      box-shadow: 0 0 9px 0px #8e8e8e;
    }
  }
  .card{
    padding: px2rem(20px) 0;
    width: 100%;
    border-bottom: px2rem(4px) solid #ff6533;
    .photo{
      width: px2rem(150px);
      height: px2rem(150px);
      border-radius: 50%;
      overflow: hidden;
      margin-right: px2rem(20px);
    }
    .name{
      font-size: px2rem(40px);
      padding: px2rem(10px);
    }
    .phone{
      font-size: px2rem(30px);
      padding-left: px2rem(10px);
    }
    .btn_kehu{
      margin-top: px2rem(32px);
      width: px2rem(180px);
      height: px2rem(70px);
      line-height: px2rem(70px);
      border-radius: px2rem(70px);
      background-color: #ff6432;
      font-size: px2rem(30px);
      text-align: center;
      color: #ffffff;
    }
  }
  .body{
    padding: 0 px2rem(27px);
  }
  .shop_panal{
    border: px2rem(2px) solid #eee;
    padding: 0 px2rem(30px);
    border-radius: px2rem(20px);
    box-shadow: 0 4px 6px #e4e4e4;
    .photo{
      &::before{
        content: '';
        width: px2rem(20px);
        height: px2rem(20px);
        display: block;
        border-radius: 50%;
        background: #ff6432;
        position: absolute;
        margin: px2rem(-18px) 0 0 px2rem(-20px);
      }
    }
  }
  .shop_body{
    width: 100%;
    height: px2rem(260px);
    background: url(./../images/shop_tip.jpg) 0 50% no-repeat;
    background-size: 50vw;
    padding: px2rem(20px) 0 px2rem(20px) 54vw;
  }
  .nav {
    padding: px2rem(30px) 0;
    span{
      font-weight: 600;
      font-size: px2rem(32px);
      padding-bottom: px2rem(20px);
      &.active{
        border-bottom: px2rem(2px) solid  #f7bd0c;
      }
    }
  }
  .content{
    padding: px2rem(70px) px2rem(4px) 0;
    p{
      padding: px2rem(6px) 0;
      line-height: 1.5em;
      font-size: px2rem(38px);
      text-align: justify;
      letter-spacing: px2rem(4px);
    }
    img{
      margin: px2rem(40px) 0;
      height: auto;
    }
  }
  .mp{
    padding-top: px2rem(20px);
    h2{
      font-size: px2rem(34px);
      padding: px2rem(20px) 0;
      color: #ff6533;
    }
    .box_img{
      border: px2rem(2px) solid #ff6533;
      padding: px2rem(60px) 0;
      img{
        width: px2rem(280px);
        margin: auto;
        display: block;
      }
    }
    .card{
      margin: px2rem(40px) 0 px2rem(40px);
      padding: px2rem(10px);
      position: static;
      border: px2rem(2px) solid #ff6533;
      height: px2rem(224px);
      .photo{
        width: px2rem(160px);
        height: px2rem(160px);
        margin: px2rem(20px);
      }
      .name{
        padding: px2rem(50px) 0 px2rem(10px);
        font-size: px2rem(40px);
      }
      .phone{
        font-size: px2rem(30px);
      }
    }
    .qr{
      width: px2rem(180px);
    }
    .btn_change{
      height: px2rem(88px);
      line-height: px2rem(88px);
      display: block;
      text-align: center;
      background: #ff6533;
      color: #fff;
      font-size: px2rem(48px);
      font-weight: 700;
      border-radius: px2rem(10px);
    }
  }
}