<li class="item">
  
  <!--include "./header.html"-->
  <article>
    <!-- <h1 class="title">内观才能找到问题的本质</h1> -->
    <div class="content">
      <p class="ov">毛驴掉进了猎人的陷阱，农民为了救毛驴把一铁锹
        一铁锹的土呢填进了坑里面，毛驴以为要把它埋了，
        后来发现一层层的土让他离洞口越来越近。毛驴掉进了猎人的陷阱，农民为了救毛驴把一铁锹
        一铁锹的土呢填进了坑里面，毛驴以为要把它埋了，
        后来发现一层层的土让他离洞口越来越近。</p>
    </div>
    <div class="grid">
      <div class="handle">
        <span class="btn copy" >复制文案</span>
        <a class="btn download" href="./images/f1.png" download="">下载图片</a>
      </div>
      <div class=" cell">
        <span class="more_read">展开</span>
      </div>
    </div>
    <div class="imgbox">
      <ul>
        <li><img src="./images/f1.png" alt=""></li>
      </ul>
    </div>
  </article>
  <!--include "./icon.html"-->
</li>