<li class="item">
  
  <!--include "./header.html"-->
  <article>
    <!-- <h1 class="title">想拥有一个健康的身体！必须要知道穴位如
      何排毒？</h1> -->
  <div class="content">
    <p>想拥有一个健康的身体！必须要知道穴位如何排毒？
      虽然我是一个身体语言解读者，希望通过解读翻译，
      能使大家学到方法，找到病因，让你自己调理上...</p>
  </div>
  <div class="grid">
    <div class="handle">
      <span class="btn copy">复制文案</span>
      <a class="btn download">下载图片</a>
    </div>
    <div class=" cell">
      <!-- <span class="more_read">展开</span> -->
    </div>
  </div>
  <div class="imgbox">
    <ul>
      <li><img src="./images/f21.png" alt=""></li>
      <li><img src="./images/f22.png" alt=""></li>
      <li><img src="./images/f23.png" alt=""></li>
      <li><img src="./images/f24.png" alt=""></li>
      <li><img src="./images/f25.png" alt=""></li>
      <li><img src="./images/f26.png" alt=""></li>
      <li><img src="./images/f27.png" alt=""></li>
      <li><img src="./images/f28.png" alt=""></li>
      <li><img src="./images/f29.png" alt=""></li>
    </ul>
  </div>
  </article>
  
  <!--include "./icon.html"-->
</li>