<li class="item">
  
  <!--include "./header.html"-->
  <article>
    <!-- <h1 class="title">害怕免疫力下降和害怕生病，我们更应该重
      视免疫力下降</h1> -->
  <div class="content">
    <p>很多的疾病不是因为我们生病了以后免疫力才下降
      的，而是因为免疫力下降了以后才生病的。</p>
  </div>
  <div class="grid">
    <div class="handle">
      <span class="btn copy">复制文案</span>
      <a class="btn download">下载视频</a>
    </div>
    <div class=" cell">
      <!-- <span class="more_read">展开</span> -->
    </div>
  </div>
  <div class="imgbox">
    <img src="./images/video.png" alt="">
  </div>
  </article>
  
  <!--include "./icon.html"-->
</li>