.grid {
  display: -webkit-flex;
  display: -webkit-box;
  display: box;
  display: flex;
}
.cell{
  -webkit-box-flex:1;
  -webkit-flex:1;
  flex:1;
}


.cell--top {
  align-self: flex-start;
}

.cell--middle {
  align-self: center;
}

.cell--bottom {
  align-self: flex-end;
}

.cell--stretch {
  align-self: stretch;
}

.wrap{
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}