<div class="game_pannel  hide">
  <div class="pannel_bg bg"></div>
  <div class="progress">
    <svg id="progress_box" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200">
      <circle id="pro1" cx="100" cy="100" r="80" stroke="#2E7D32" stroke-width="20" fill="none"></circle>
      <circle id="pro2" class="progress_body" cx="100" cy="100" r="80" stroke="#fff" stroke-width="24" fill="#fff" stroke-linecap="butt"
        stroke-dasharray="0, 515"></circle>
      <text id="cutdow" class="num" x="100" y="120" style="font-size: 1.6rem; width: 4rem; display: block; text-align: center; text-anchor: middle;-webkit-transform: rotateZ(90deg) translateY(-176px);transform: rotateZ(90deg) translateY(-176px)"
        fill="#2E7D32">10</text>
    </svg>
  </div>
  
  <!-- <div class="question">
    <span></span>
  </div>

  <div class="answers">
    <ul>
      <li><span>答案1</span></li>
      <li><span>答案2</span></li>
      <li><span class="double_line">答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2答案2</span></li>
      <li><span>答案3</span></li>
    </ul>
  </div> -->
  <div id="resource">

  </div>
</div>