<div class="nav_bottom pf">
  <ul class="grid">
    <li class="cell active">
      <a href="/">
        <span class="nav_icon n1"></span>
        <em>签到打卡</em>
      </a></li>
    <li class="cell">
      <a>
        <span class="nav_icon n2"></span>
        <em>我的记录</em>
      </a></li>
    <li class="cell">
      <a >
        <span class="nav_icon n3"></span>
        <em>排名</em>
      </a>
    </li>
    <li class="cell">
      <a>
        <span class="nav_icon n4"></span>
        <em>我的微站</em>
      </a>
    </li>
  </ul>
</div>