<li class="item">
  <div class="header grid">
    <span class="user_photo">
      <img src="./images/photo2.png" alt="">
    </span>
    <div class="cell">
      <h4 class="name">张美美</h4>
      <p class="date">2020-02-13 07:06:54</p>
    </div>
  </div>
  <article>
    <h1 class="title">想拥有一个健康的身体！必须要知道穴位如
      何排毒？</h1>
  <div class="content">
    <p class="ov">想拥有一个健康的身体！必须要知道穴位如何排毒？
      虽然我是一个身体语言解读者，希望通过解读翻译，
      能使大家学到方法，找到病因，让你自己调理上想拥有一个健康的身体！必须要知道穴位如何排毒？
      虽然我是一个身体语言解读者，希望通过解读翻译，
      能使大家学到方法，找到病因，让你自己调理上</p>
  </div>
  <div class="more_read">查看全文</div>
  <div class="imgbox">
    <ul>
      <li><img src="./images/f21.png" alt=""></li>
      <li><img src="./images/f22.png" alt=""></li>
      <li><img src="./images/f23.png" alt=""></li>
      <li><img src="./images/f24.png" alt=""></li>
      <li><img src="./images/f25.png" alt=""></li>
      <li><img src="./images/f26.png" alt=""></li>
      <li><img src="./images/f27.png" alt=""></li>
      <li><img src="./images/f28.png" alt=""></li>
      <li><img src="./images/f29.png" alt=""></li>
    </ul>
  </div>
  </article>
  <div>
    <ul class="grid bottom">
      <li class="cell tc share active">
        <span class="iconfont icon-fenxiang-"></span>
        <span class="word">分享</span>
      </li>
      <li class="cell tc msg">
        <span class="iconfont icon-xiaoxi"></span>
        <span class="num">0</span>
      </li>
      <li class="cell tc like">
        <span class="iconfont icon-aixin"></span>
          <span class="num">1</span>
      </li>
    </ul>
  </div>
</li>