<li class="item">
  <div class="header grid">
    <span class="user_photo">
      <img src="./images/v4/photo2.png" alt="">
    </span>
    <div class="cell">
      <h4 class="name">张美美</h4>
      <p class="date">2020-02-13 07:06:54</p>
    </div>
  </div>
  <article>
    <h1 class="title">害怕免疫力下降和害怕生病，我们更应该重
      视免疫力下降</h1>
  <div class="content">
    <p>很多的疾病不是因为我们生病了以后免疫力才下降
      的，而是因为免疫力下降了以后才生病的。</p>
  </div>
  <!-- <div class="more_read">查看全文</div> -->
  <div class="imgbox">
    <img src="./images/v4/video.png" alt="">
  </div>
  </article>
  
  <div>
    <ul class="grid bottom">
      <li class="cell tc share active">
        <span class="iconfont icon-fenxiang-"></span>
        <span class="word">分享</span>
      </li>
      <li class="cell tc msg">
        <span class="iconfont icon-xiaoxi"></span>
        <span class="num">0</span>
      </li>
      <li class="cell tc like">
        <span class="iconfont icon-aixin"></span>
          <span class="num">1</span>
      </li>
    </ul>
  </div>
</li>