* {
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  -webkit-overflow-scrolling: touch; // 滚动更流畅
  -webkit-touch-callout: none; //系统默认菜单被禁用
  -webkit-tap-highlight-color: transparent; //去掉点击闪动
  -ms-touch-action: manipulation; //ie10去掉点击触发延迟
  touch-action: manipulation; //ie11去掉点击触发延迟
  word-wrap: break-word; //使英文和数字自动换行
  margin: 0; // 1
  padding: 0;
  list-style: none;
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: none;
  vertical-align: middle;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }
}

/*  Structure
   ========================================================================== */

html {
  height: 100%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

body {
  min-height: 100%;
  margin: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-roboto;
  color: $fontColor;
  font-size: px2rem(26px);

  &.fixdBody {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}
/*  Fluid Media
   ========================================================================== */

audio,
img,
svg,
object,
embed,
canvas,
video {
  max-width: 100%;
  height: 100%;
  font-style: italic;
}
video{
  width: 100%;
  height: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: $fontColor;
}

.pr{
  position: relative;
}
.pa{
  position: absolute;
}
.pf{
  position: fixed;
}
.tl{
  text-align: left;
}
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.db{
  display: block;
}
.dib{
  display: inline-block;
}

.oh{
  overflow: hidden;
}

textarea{
  width: 100%;
  padding: px2rem(30px);
  border: 1px solid #9e9e9e;
  resize: none;
}
::-webkit-scrollbar
{
    width:px2rem(6px);
    height:px2rem(6px);
    background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgb(205, 203, 203);
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
video{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
