.nav_bottom {
  left: 0;
  bottom: 0;
  // top:100px;
  width: 100vw;
  background: #fff;
  z-index: 99999;
  ul{
    height: px2rem(119px);
    padding: px2rem(17px) 0  px2rem(18px);
    border-top: px2rem(2px) solid #eee;
  }

  li{
    @extend .tc;
    em{
      color: #999999;
      font-size: px2rem(28px);
      height: px2rem(27px);
      line-height: 1;
      display: block;
      text-align: center;
    }
    .nav_icon{
      width: px2rem(49px);
      height: px2rem(56px);
      display: block;
      margin: auto;
      @for $i from 1 to 5 {
        &.n#{$i}{
          background: url(./../images/nav/n#{$i}.png) 50% 0 no-repeat;
          @if $i == 1 {
            background-size: px2rem(47px) px2rem(47px);
          } @else if  $i == 2{
            background-size: px2rem(44px) px2rem(44px);
          } @else if  $i == 3{
            background-size: px2rem(47px) px2rem(49px);
          } @else if  $i == 4{
            background-size: px2rem(41px) px2rem(45px);
          }
        }
      }
    }
    &.active{
      em{
        color: #FF9A2B;
      }
      @for $i from 1 to 5 {
        .n#{$i}{
          background: url(./../images/nav/n#{$i}1.png) 50% 0 no-repeat;
          @if $i == 1 {
            background-size: px2rem(47px) px2rem(47px);
          } @else if  $i == 2{
            background-size: px2rem(44px) px2rem(44px);
          } @else if  $i == 3{
            background-size: px2rem(47px) px2rem(49px);
          } @else if  $i == 4{
            background-size: px2rem(41px) px2rem(45px);
          }
        }
      }
    }
  }
}