.ticket{
  padding: 0 px2rem(27px) 0;
  background: #f5f5f5;
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: SJcuyuan;
  .nav{
    padding: px2rem(72px) 0;
    font-size: px2rem(32px);
    li{
      padding-right: px2rem(48px);
      height: px2rem(46px);
      &.active{
        font-size: px2rem(46px);
        font-weight: bold;
        top: px2rem(-16px);
        position: relative;
        &::after{
          content: '';
          display: block;
          width: 60%;
          left: 20%;
          position: relative;
          height: px2rem(10px);
          background: #323232;
          border-radius: px2rem(5px);
        }
      }
    }
  }
  .list{
    padding: px2rem(54px) px2rem(42px);
    background: #ffffff;

    box-shadow: 0px px2rem(6px) px2rem(30px) 0px rgba(255, 156, 0, 0.1);
    border-radius: px2rem(20px);
    .item{
      border: 1px solid #DCDCDC;
      box-shadow: 0px px2rem(10px) px2rem(10px) 0px rgba(220, 220, 220, 0.3);
      border-radius:  px2rem(10px);
      overflow: hidden;
      position: relative;
      margin-bottom: px2rem(20px);
      &::after{
        content: '';
        width: px2rem(360px);
        height: px2rem(340px);
        display: block;
        border-radius: 50%;
        background: #F0F0F0;
        position: absolute;
        top: px2rem(-140px);
        right: px2rem(-120px);
        z-index: 1;
      }
      &.expired{
        .money{
          background: #D1D1D1;
        }
      }
    }
    .money{
      width: px2rem(220px);
      height: px2rem(240px);
      line-height: px2rem(240px);
      background: #fe7a00;
      border-radius:  px2rem(10px) 0 0 px2rem(10px);
      @extend .tc;
      span {
        font-size: px2rem(130px);
        font-weight: 400;
        color: #FFFFFF;
        &::before{
          content: '￥';
          font-size: px2rem(40px);
        }
      }
    }
    .disc{
      padding:px2rem(48px) px2rem(38px) px2rem(10px) px2rem(10px);
      text-align: right;
      line-height: 1;
      z-index: 20;
    }
    .limit{
      height: px2rem(37px);
      font-size: px2rem(40px);
      font-weight: 400;
    }
    .detail{
      height: px2rem(23px);
      font-size: px2rem(24px);
      margin: px2rem(17px) 0 px2rem(33px);
    }
    .valid_date{
      height: px2rem(19px);
      font-size: px2rem(20px);
      border-top: 2px dotted #F4F5FA;
      padding: px2rem(15px) 0 0;
    }
  }
}