.index{
	.banner-box{
		position: relative;
	}
	.banner-text{
		position: absolute;
	}
	.banner-text1{
		top: 33%;
		left: 12%;
		width: 36%;
	}
	.banner-text2{
		top: 18%;
		right: 14%;
		width: 24.2%;
	}
	.banner-text3{
		top: 23%;
	    left: 13%;
	    width: 37%;
	}
}