.nav{
  padding: px2rem(20px) px2rem(30px);
  font-size: px2rem(28px);
  border-bottom: 1px solid $linColor;
  li{
    color: #fff;
    background: $red;
    padding: 0 px2rem(26px);
    @include setHeight(px2rem(50px));
    display: inline-block;
    border-radius: 16px;
    margin-right: px2rem(20px);
  }
}
.goods_list{
  padding: 0 px2rem(30px);
  .goods_item{
    padding: px2rem(30px) 0;
  }
  .goods_img{
    width: px2rem(200px);
    height: px2rem(200px);
    margin-right: px2rem(20px);
  }
  .goods_title{
    letter-spacing: px2rem(2px);
    font-weight: 100;
  }
  .goods_price{
    padding: px2rem(18px) 0;
    .new_price{
      color: $red;
      font-size: px2rem(36px);
      font-weight: 600;
      &::before{
        content: "¥";
        font-size: px2rem(22px);
      }
    }
    .old_price{
      text-decoration: line-through;
      color: $oldPrice;
    }
    .pin_price{
      color: $pin;
      font-size: px2rem(34px);
      &::before{
        content: "¥";
        font-size: px2rem(22px);
      }
    }
  }
  .pin_tip{
    border-width: 1px 0 1px 0;
    border-color: $linColor;
    border-style: solid;
    color: #5e5e5e;
    @include setHeight(px2rem(70px));
  }
  .group_tag{
    border: 1px solid $red;
    display: inline-block;
    font-size: px2rem(22px);
    @include setHeight(px2rem(48px));
    border-radius: 4px;
    overflow: hidden;
    span, a{
      padding: 0 px2rem(10px);
      vertical-align: top;
      i{
        width: px2rem(30px);
        height: px2rem(30px);
        display: inline-block;
        background-size: 100%;
        vertical-align: text-top;
        &.people{
          background-image: url(../img/group_icon.png);
        }
        &.car{
          background-image: url(../img/car_icon.png);
        }
      }
    }
    .second{
      color: #fff;
      background: $red;
      display: inline-block;
      @include setHeight(px2rem(48px));
    }
  }
}