$font-roboto: 'Microsoft YaHei';
// ,SimHei,Helvetica, PingFangSC-Regular, Arial, sans-serif';
$baseSize: 100px;
$fontColor: #3e3d3d;

$linColor: #ebebeb;
$oldPrice: #bfbfbf;
$pin: #ff7a37;
$red: #fd0000;

$fs: flex-start;
$fe: flex-end;
$cen: center;
$sb: space-between;
$sa: space-around;