.checkbox {
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: px2rem($checkbox-label-height);
  margin: 0;
  padding: 0 0 0 px2rem($checkbox-padding);
  .checkbox__input{
     &::after{
        content: '';
        border: px2rem(2px) solid rgba(0,0,0,.54);   
        position: absolute;
        top: px2rem(($checkbox-label-height - $checkbox-button-size) / 2);
        left: px2rem($checkbox-padding);
        display: inline-block;
        box-sizing: border-box;
        width: px2rem($checkbox-button-size);
        height: px2rem($checkbox-button-size);
        border-radius: 10%;
     }
     &:checked{
       background-color: rgba(0,0,0,0);
       &::after{
          border: px2rem(2px) solid $checkbox-color;   
          background: $checkbox-color url("#{$checkbox-image-path}/tick.svg?embed");
          transition: transform .3s cubic-bezier(0,0,.2,1),width .3s cubic-bezier(0,0,.2,1),height .3s cubic-bezier(0,0,.2,1),opacity .6s cubic-bezier(0,0,.2,1);
          transition: transform .3s cubic-bezier(0,0,.2,1),width .3s cubic-bezier(0,0,.2,1),height .3s cubic-bezier(0,0,.2,1),opacity .6s cubic-bezier(0,0,.2,1),-webkit-transform .3s cubic-bezier(0,0,.2,1);
       }
     }
  }
  .checkbox__label{
      display: inline-block;
      height: px2rem($checkbox-label-height);
      line-height: px2rem($checkbox-label-height);
      font-size: px2rem($checkbox-label-font-size);
      padding-left: px2rem($checkbox-padding);
      vertical-align: top;
  }
}

