.text {
  position: relative;
  font-size: px2rem(28px);
  display: block;
  width: 100%;
  height: px2rem(70px);
  line-height: px2rem(30px);
  display: block;
  padding: px2rem(20px);
  background-color: rgba(255,255,255,.8);
  -webkit-appearance: none;
  appearance: none;
}