.find{
  .topic{
    margin-top: px2rem(8px);
    padding: px2rem(40px) px2rem(30px);
    border-top: px2rem(4px) solid #f5f5f5;
    border-bottom: px2rem(4px) solid #f5f5f5;
  }
  .j_list{
    padding-top: px2rem(40px);
    .j_item{
      padding: px2rem(12px) 0;
    }
    .top_title{
      font-size: px2rem(29px);
      letter-spacing: -1px;
      color: #707070;
    }
    .join_count{
      font-size: px2rem(23px);
      letter-spacing: -1px;
      color: #a5a5a5;
    }
    .hot{
      width: px2rem(30px);
      height: px2rem(36px);
      display: inline-block;
      background: url(../images/v4/hot.png) 0 0 no-repeat;
      background-size: 100%;
      vertical-align: text-bottom;
      margin-left: px2rem(10px);
    }
  }
  .nav_cate{
    padding: px2rem(30px) 0;
    border-bottom: px2rem(2px) solid #f5f5f5;
    li{
      font-size: px2rem(30px);
      letter-spacing: px2rem(-1px);
      color: #6e6e6e;
      &.active{
        font-size: px2rem(31px);
        color: #fe7a00;
        font-weight: bold;
      }
    }
  }
}
.f_body{
  .item{
    padding: 0 px2rem(30px);
    border-bottom: px2rem(20px) solid #f1f1f1;
  }
  .header{
    padding: px2rem(24px) 0;
    height: px2rem(136px);
  }
  .user_photo{
    width: px2rem(88px);
    height: px2rem(88px);
    border-radius: 50%;
    overflow: hidden;
    margin-right: px2rem(10px);
  }
  .name{
    font-size: px2rem(31px);
    letter-spacing: px2rem(-1px);
    color: #2f2f2f;
    font-weight: bold;
  }
  .date{
    font-size: px2rem(24px);
    color: #9b9a9a;
    font-weight: 300;
  }
  .title{
    font-size: px2rem(36px);
    letter-spacing: px2rem(-1px);
    color: #292929;
    padding: px2rem(24px) 0;
  }
  .content{
    font-size: px2rem(30px);
    line-height: px2rem(55px);
    color: #3c3a40;
    padding: px2rem(22px) 0;
  }
  .more_read{
    font-size: px2rem(27px);
    letter-spacing: px2rem(-2px);
    line-height: px2rem(45px);
    color: #fe9533;
    font-family: "Source Han Sans SC Regular";
    font-weight: 400;
    padding: px2rem(14px) 0;
    margin-top: px2rem(16px);
  }
  .imgbox{
    padding: px2rem(20px) 0;
    li{
      display: inline-block;
      overflow: hidden;
      width: calc(100% / 3);
      height: calc(100% / 3);
      padding: 2px;
    }
  }
  .bottom{
    padding: px2rem(17px) 0;
    margin-top: px2rem(14px);
    color: #707070;
    font-weight: 400;
    .iconfont{
      font-size: px2rem(42px);
      padding-right: px2rem(6px);
    }
    li{
      &.active .iconfont{
        color: #ff7b09;
      }
    }
    .word{
      font-size: px2rem(29px);
    }
    .num{
      font-size: px2rem(29px);
      letter-spacing: px2rem(-1px);
    }
  }
}