<div class="list_poster">
  <ul>
    <li><a href="poster-img.html"><img src="./assets/images/1122.jpg" /><span class="title">晚安</span></a></li>
    <li><a href="poster-img.html"><img src="./assets/images/1122.jpg" /><span class="title">晚安</span></a></li>
    <li><a href="poster-img.html"><img src="./assets/images/1122.jpg" /><span class="title">晚安</span></a></li>
    <li><a href="poster-img.html"><img src="./assets/images/1122.jpg" /><span class="title">晚安</span></a></li>
    <li><a href="poster-img.html"><img src="./assets/images/1122.jpg" /><span class="title">晚安</span></a></li>
    <li><a href="poster-img.html"><img src="./assets/images/1122.jpg" /><span class="title">晚安</span></a></li>
  </ul>
</div>