<article class="dialog">
  <div class="mask"></div>
  <div class="dialog_box ziliao">
    <div class="contetn form">
      <div class="grid tip">
        <span class="photo"><img src="./assets/images/default_photo.png" alt=""></span>
        <span class="cell">
          亲！完善资料，让转发的文章自动带上您的联系方式，让客户主动找到你
        </span>
      </div>
      <div class="form_item">
        <input type="text" class="input" placeholder="请输入姓名">
      </div>
      <div class="form_item">
        <input type="text" class="input" placeholder="请输入电话">
      </div>
    </div>
    <div class="footer">
      <span class="btn agree_btn db">生成名片</span>
    </div>
  </div>
</article>