<section class="audio">
  <div class="audio_head">
    <!-- <span class="backward ward" id="backward"></span> -->
    <p class="cell progress_box" id="progress_box">
      <span class="progress_bar" id="progress" style="width: 0%;"></span>
      <span class="progress_btn"  id="progress_state" style="left: 0%;"></span>
    </p>
    <!-- <span class="forward ward" id="forward"></span> -->
     <p class="progress_state grid">
        <em id="timer"></em>
        <em class="cell"></em>
        <em id="duration"></em>
    </p>
  </div>
  <div class="audio_body grid">
    <span class="speed" id="rateBtn" rate="0"><em>1X</em></span>
    <div class="player cell grid">
      <span class="prev switch none" id="prevBtn"></span>
      <span class="play switch playBtn" id="playBtn"></span>
      <span class="next switch" id="nextBtn"></span>
    </div>
    <span class="list" id="playlistBtn">
      列表
    </span>
  </div>
  <div class="audio_footer" id="list">
    <div class="mask" id="mask"></div>
    <div class="sources">
      <h4 class="tip">推放列表</h4>
      <ul></ul>
    </div>
  </div>
</section>