<div class="nav_bottom pf">
  <ul class="grid cell--middle">
    <li class="cell active"><a href="index.html"><span class="iconfont icon-diantaizhibo"></span><em>电台</em></a></li>
    <li class="cell"><a><span class="iconfont icon-gongzuo"></span><em>俱乐部</em></a></li>
    <li class="photo vip"> 
      <!-- vip用户需要添加vip属性 -->
      <span class="photo_box playing">
        <!-- 播放音乐的时候添加palying属性 -->
        <img src="./images/p2.png" alt="">
      </span>
    </li> 
    <li class="cell"><a href="poster.html"><span class="iconfont icon-picture"></span><em>海报</em></a></li>
    <li class="cell"><a href="my.html"><span class="iconfont icon-wode"></span><em>个人</em></a></li>
  </ul>
</div>